1.typescript.node/node_modules/*

2.ts.node.drizzle/node_modules/*
2.ts.node.drizzle/db/drizzle/*
2.ts.node.drizzle/db/sqlite.db

3.ts.node.jest/node_modules/*

4.ts.node.drizzle.jest/node_modules/*
4.ts.node.drizzle.jest/db/drizzle/*
4.ts.node.drizzle.jest/db/sqlite.db